@font-face {
    font-family: 'Cooper';
    src: url('/fonts/Cooper-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper';
    src: url('/fonts/Cooper-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper';
    src: url('/fonts/Cooper-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    transition: all 0.3s ease;
    font-family: Cooper, Georgia, serif;
}

li {
    list-style-type: none;
}

figure {
    margin: 0;
}

a,
a:visited {
    color: #333;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(4, 4, 32) 35%, rgb(0, 0, 0) 100%);
    margin: 0;
    color: #000;
}

.card {
    background-color: #efeef6;
    border-radius: 12px;
    padding: 30px;
    width: 480px;
    text-align: left;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 1.6;
}

.welcome {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cac7da;
}

header {
    display: flex;
    flex-direction: row;
}

.profile-image {
    border-radius: 50%;
    max-width: 110px;
    max-height: 110px;
}

figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.intro {
    margin-left: 15px;
    margin-bottom: 30px;
}

.title {
    font-family: Cooper, Georgia, serif;
    font-weight: 500;
    font-size: 46px;
    margin-bottom: 10px;
}

.subtitle,
.subtitle em,
.description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: #555;
    margin-top: -5px;
    margin-bottom: 20px;
}

.description {
    font-size: 13px;
    color: #333;
}

.section-heading {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    color: #000;
    margin-bottom: 10px;
}

.links {
    margin-top: 8px;
    display: flex;
    gap: 10px;
}

.links a {
    font-size: 14px;
    border: 2px dotted #333;
    padding: 2px 12px;
    border-radius: 7px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    border-color: #000;
    color: #000;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cac7da;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 13px;
    font-style: italic;
}

@media (max-width: 768px) {
    * {
        text-align: center;
    }

    .card {
        max-width: 300px;
    }

    header {
        flex-direction: column;
    }

    header img {
        width: 60px;
        height: 60px;
    }

    .section-heading {
        justify-content: center;
    }

    .title {
        font-size: 2.5rem;
    }

    .section-heading {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .links li {
        width: 100%;
        margin-bottom: 0;
    }

    .links a {
        display: block;
        text-align: center;
    }
}